*{
    padding: 0;
    margin: 0;
}
:root {
    --main-bg-color: #404258;
    --nav-bg-color: #6B728E;
    --nav-bg-highlight: #9ea6ff;
    --button-bg: #8e99bec0;
    --page-full-hieght:  calc(100vh - 4rem);
    --page-half-hieght:  calc((100vh - 4rem)/2);
}
  
body{
    background-color: var(--main-bg-color);
    font-family: "Noto Sans", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #829194;
    border-radius: 3px;
    border: 1px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #8291949d;
}
nav{
    width: 100%; 
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: var( --nav-bg-color);
    overflow: hidden;
    box-shadow: 0rem 4rem 4rem rgba(0, 0, 0, 0.205);
}
.navItem{
    width: 7rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.active{
    border: solid 0.2rem #292f49;
}
.navmenuicon{
    margin-right: 1.5rem;
    display: flex;
    margin-left: 10.5rem;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
}
.nav-profile-name{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 9rem;
    height: 2.5rem;
    left: 0.25rem;
    font-size: 15px;
    overflow-x: scroll;
    white-space: nowrap;
}
.navmenuicon img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2rem;
    object-fit: contain;
}

.navItem:hover{
    background-color: var(--nav-bg-highlight);
    cursor:pointer;
}
.navmenuicon img:hover{
    cursor:pointer;
}
.profile-wrapper{
    width: 15rem;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    left: 55%;
    border:solid 5px black;
}
.profile img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 2rem;
    object-fit: contain;
}
.profile span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.3rem;
    height: 2rem;
}
.profile:hover{
    span{
        background-color: var(--nav-bg-highlight);
        border-radius: 0.5rem;
    }
    cursor: pointer;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-menu{
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 8rem;
    position: absolute;
    left: 10rem;
    top: 3.5rem;
}
.arrow-up-profile-menu{
    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    
    border-bottom: .7rem solid #9498da;
}
.profile-menu-container{
    background-color: #9498da;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 0.5rem;
}
.profile-menu-container span{
    width: 100%;
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-menu-container span:first-child{
    border-radius: 0.5rem 0.5rem 0 0;
}
.profile-menu-container span:last-child{
    border-radius: 0 0 0.5rem 0.5rem;
}
.profile-menu-container span:hover{
    background-color: #b5bbfdcc;
    cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.maincontainer{
    height: var(--page-full-hieght);
}
.notifications-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: solid 2px #404258;
    background-color: var(--button-bg);
    box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, 0.377);
}
.not-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--button-bg);
}
.not-btn:hover{
    background-color: var(--nav-bg-highlight);
    cursor: pointer;
}
.notifications-wrapper .badge{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: #9ea6ffea;
    border: solid 1px #292f49;
    top: 33px;
    left: 33.45rem;
}
.not-messages-container{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 4rem;
    width: 26rem;
    height: 0;
    background-color:#6b728e00;
    font-size: 15px;
}
.not-messages{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    row-gap: 1rem;
}
.noti-message{
    background-color: #939cfd;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 0 0 auto;
    align-items: center;
    text-align: center;
    row-gap: 0.5rem;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.199);
    border-radius: 0.7rem 0.7rem 0.7rem 0.7rem;
}
.noti-message:first-child{
    margin-top: 1rem;
}
.noti-message:last-child{
    margin-bottom: 1rem;
}
.btn-options{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
}
.accept, .submit, .join{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #8e99bec0;;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: solid 2px #292f49;
    transition: background-color 150ms;
}
.accept:hover, .submit:hover, .join:hover{
    background-color: rgb(152, 240, 20);
    cursor: pointer;
}
.decline, .close, .more-info{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #8e99bec0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: 1.5rem;
    border: solid 2px #292f49;
}
.decline:hover, .close:hover, .more-info:hover{
    cursor: pointer;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    
    border-bottom: .7rem solid #a1a6ff;
}
.not-messages{
    width: 100%;
    height: 100%;
    background-color: #677397;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-top: 3px solid #9498da;
    box-shadow: rgba(0, 0, 0, 0.356) 0px 5px 15px;
}
.menucontainer{
    height: 100%;
    width: 15rem;
    background-color: #6B728E;
    box-shadow: inset 0rem 4rem 4rem rgba(0, 0, 0, 0.205);
}
.maincontainer{
    display: flex;
}
/*160 characters as the bio*/
.side-menu-bio{
    background-color: #4042580e;
    height: 11rem;
    display: flex;
    justify-content: start;
    align-items: left;
    flex-direction: column;
    text-align: left;
    word-wrap: break-word;
    row-gap: 0.3rem;
}

.side-menu-bio span:first-child{
    margin-top: 0.6rem;
    text-align: center;
}
.side-menu-bio span:last-child{
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    max-width: 95%;
    margin-left: 0.4rem;
    padding: 0;
}
.sectionwrapper{
    display: flex;
    flex-direction: column;
    width: calc(100% - 15rem);
}
.workspaces-section{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-spaces-header{
    height: 4rem;
    width: 98%;
    display: flex;
    align-items: center;
    background-color: var(--nav-bg-color);
    box-shadow: inset 0rem 1.5rem 1.5rem rgba(0, 0, 0, 0.082);
    border-radius: 1rem 1rem 0 0;
}
.my-ws-span{
   height: 100%;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   display: flex;
   align-items: center;
   margin-left: 0.5rem;
}
.add-workspaces-btn{
    padding: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: #8e99bec0;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    border: solid 2px #292f49;
}
.add-workspaces-btn:hover{
    background-color: var(--nav-bg-highlight);
    cursor: pointer;
}
.first-work-header{
    margin-top: 0.5rem;
}
.workspace-body{
    width: 98%;
    height: 80%;
    background-color: #8e99bec0;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin-bottom: -0.5rem;
}
.ws-card-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 25rem;
    height: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.6rem;
    scroll-snap-align: center;
}
.ws-card{
    background-color: #6b728eb7;
    width: 95%;
    height: 95%;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.432);
}
.ws-card-section1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.ws-card-section1 img{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    margin-left: 1rem;
    background-color: #292f49;
    border-radius: 3rem;
}
.ws-card-section1 span{
    padding: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ws-card-section2{
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: end;
    margin-bottom: 0.2rem;
}
.ws-card-section2 span{
    width: 88%;
    word-wrap: break-word;
    padding-right: 1rem;
    line-height: 22px;
}
.submit-workspace{
    position: absolute;
    background-color: #6b728eee;
    width: 25rem;
    height: 25rem;
    left: 25vw;
    top: 8vh;
}
.submit-workspace::backdrop{
    background-color: #00000023;
}
.submit-ws-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.submit-ws-wrapper input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 80%;
}
.submit-ws-wrapper textarea{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 80%;
    resize: none;
}
.submit-ws-wrapper .ws-add-ifield{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
}
.submit-ws-wrapper .ws-add-ifield:first-child{
    margin-top: 2rem;
}
.submit-ws-wrapper .ws-add-ifield span{
    width: 80%;
    text-align: start;
}
.ws-add-ifield-des{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
}
.ws-add-ifield-des span{
    width: 80%;
    text-align: start;
}
.usersbox{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
    max-height: 12.5rem;
    overflow-y: scroll;
}
.usersbox span{
    width: 80%;
    text-align: start;
}
